<template>
    <div>
        <form class="form col-md-6 offset-md-3" enctype="multipart/form-data">
            <div class="form-group my-2">
                <label for="" class="form-label">Hotel:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Digite o hotel que deseja cadastrar" 
                v-model="request.name"
                id="nameHotel">
            </div>
            <div class="form-group my-2">
                <label for="" class="form-label">Sigla:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Digite a sigla do hotel" 
                v-model="request.acronym"
                id="acronymHotel">
            </div>
            <button @click.prevent="submitForm()" id="buttonSubmit" class="btn btn-primary w-full my-2">
                <div id="divContentButtonSubmit" 
                :class="{
                    'spinner-border spinner-border-sm': loading,
                }" 
                role="status">
                    <span id="spanContentDiv" 
                    :class="{
                        'visually-hidden': loading,
                    }">Cadastrar</span>
                </div>
            </button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            request: {
                name: null,
                acronym: null,
            },
            loading: false,
        }
    },

    mounted() {

        if(this.id_hotel != null) 
        {
            this.request.name = this.name_hotel;
            this.request.acronym = this.acronym_hotel;
        }
    },
    
    props: {
        id_hotel: {
            type: Number,
            required: true,
        },
        name_hotel: {
            type: String,
            required: true,
        },
        acronym_hotel: {
            type: String,
            required: true,
        },
        method_form: {
            type: String,
            default: "post",
        }
    },


    methods: {

        submitForm () {

            let url = null;

            if (this.method_form === "put") 
            {
                url = "/hotels/" + this.id_hotel + "/update";

                this.loading = true;

                axios.put(url, this.request)
                .then((response) => {
                    this.loading = false;

                    window.location.reload();
                })
                .catch((e) => {
                    this.loading = false;
                    
                })
            }
            else if (this.method_form === "post") 
            {
                url = "/hotels/store";

                this.loading = true;

                axios.post(url, this.request)
                .then((response) => {
                    this.loading = false;

                    window.location.reload();
                })
                .catch((e) => {
                    this.loading = false;
                    
                })
            }

        },

    },
}
</script>

<style>

</style>