<template>
    <div>
        <form class="form col-md-6 offset-md-3" enctype="multipart/form-data">
            <div class="form-group my-2">
                <label for="" class="form-label">Imagens:</label>
                <input 
                id="fileImages"
                type="file" 
                class="form-control"
                multiple
                />
            </div>
            <div class="form-group my-2">
                <label for="" class="form-label">Descrição:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Digite uma descrição para o grupo" 
                v-model="request.description">
            </div>
            <div class="form-group my-2">
                <label for="" class="form-label">Índice:</label>
                <select v-model="request.index_id" id="selectAval" class="form-select">
                    <option v-for="(item, index) in indices" :key="index" :value="item.id">{{ item.name }} - {{ item.evaluation.name }} - {{ item.evaluation.hotel.acronym }}</option>
                </select>
            </div>
            <button @click.prevent="submitForm()" id="buttonSubmit" class="btn btn-primary w-full my-2">
                <div id="divContentButtonSubmit" 
                :class="{
                    'spinner-border spinner-border-sm': loading,
                }" 
                role="status">
                    <span id="spanContentDiv" 
                    :class="{
                        'visually-hidden': loading,
                    }">Cadastrar</span>
                </div>
            </button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            request: {
                description: null,
                index_id: null,
            },
            indices: null,
            loading: false,
        }
    },

    mounted() {
        this.getAvals();

        if(this.id_group != null) 
        {
            this.request.description = this.description_group;
            this.request.index_id = this.technicalindex_id;
        }
    },

    props: {
        id_group: {
            type: Number,
            required: true,
        },
        description_group: {
            type: String,
            required: true,
        },
        technicalindex_id: {
            type: String,
            required: true,
        },
        method_form: {
            type: String,
            default: "post",
        }
    },

    methods: {

        getAvals () 
        {
            const url = '/indexes/api';

            axios.get(url)
            .then((response) => this.indices = response.data)
            .catch((error) => console.log(error));

        },

        submitForm () 
        {
          
            let url = null;

            if (this.method_form === "put") 
            {
                url = "/groups/" + this.id_group + "/update";

                this.loading = true;

                axios.put(url, this.request)
                .then((response) => {
                    this.loading = false;

                    window.location.reload();
                })
                .catch((e) => {
                    this.loading = false;
                    
                })
            }
            else if (this.method_form === "post") 
            {
                url = "/groups/store";

                this.loading = true;

                const formData = new FormData();

                for (let index = 0; index < fileImages.files.length; index++) {
                    formData.append("images[]", fileImages.files[index]);
                }

                formData.append("description", this.request.description);
                formData.append("index_id", this.request.index_id);

                axios.post(url, formData)
                .then((response) => {
                    this.loading = false;

                })
                .catch((e) => {
                    this.loading = false;
                    
                })
            }

        }

    },
}
</script>

<style>

</style>