<template>
    <div>
        <form class="form col-md-6 offset-md-3" enctype="multipart/form-data">
            <div class="form-group my-2">
                <label for="" class="form-label">Nome da avaliação:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Digite o hotel que deseja cadastrar" 
                v-model="request.name">
            </div>
            <div class="form-group my-2">
                <label for="" class="form-label">Nome do hotel:</label>
                <select v-model="request.hotel_id" id="selectAval" class="form-select">
                    <option v-for="(item, index) in hotels" :key="index" :value="item.id">{{ item.name }} - {{ item.acronym }}</option>
                </select>
            </div>
            <button @click.prevent="submitForm()" id="buttonSubmit" class="btn btn-primary w-full my-2">
                <div id="divContentButtonSubmit" 
                :class="{
                    'spinner-border spinner-border-sm': loading,
                }" 
                role="status">
                    <span id="spanContentDiv" 
                    :class="{
                        'visually-hidden': loading,
                    }">Cadastrar</span>
                </div>
            </button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            request: {
                name: null,
                hotel_id: null,
            },
            hotels: null,
            loading: false,
        }
    },

    mounted() {
        this.getAvals();

        if(this.id_evaluation != null) 
        {
            this.request.name = this.name_evaluation;
            this.request.hotel_id = this.id_hotel;
        }
    },

    props: {
        id_evaluation: {
            type: Number,
            required: true,
        },
        name_evaluation: {
            type: String,
            required: true,
        },
        id_hotel: {
            type: Number,
            required: true,
        },
        method_form: {
            type: String,
            default: "post",
        }
    },

    methods: {

        getAvals () 
        {
            const url = '/hotels/api';

            axios.get(url)
            .then((response) => this.hotels = response.data)
            .catch((error) => console.log(error));

        },

        submitForm () {

            let url = null;

            url = "/evaluations/store";

            this.loading = true;

            axios.post(url, this.request)
            .then((response) => {
                this.loading = false;

                window.location.reload();
            })
            .catch((e) => {
                this.loading = false;
                    
            })
        }

    },
}
</script>

<style>
    
</style>