<template>
    <div>
        <form class="form col-md-6 offset-md-3" enctype="multipart/form-data">
            <div class="form-group my-2">
                <label for="" class="form-label">Nome do índice:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Digite o nome do índice" 
                v-model="request.name">
            </div>
            <div class="form-group my-2">
                <label for="" class="form-label">Avaliação:</label>
                <select v-model="request.technical_evaluation_id" id="selectAval" class="form-select">
                    <option v-for="(item, index) in avaliacoes" :key="index" :value="item.id">{{ item.name }} - {{ item.hotel.acronym }}</option>
                </select>
            </div>
            <button @click.prevent="submitForm()" id="buttonSubmit" class="btn btn-primary w-full my-2">
                <div id="divContentButtonSubmit" 
                :class="{
                    'spinner-border spinner-border-sm': loading,
                }" 
                role="status">
                    <span id="spanContentDiv" 
                    :class="{
                        'visually-hidden': loading,
                    }">Cadastrar</span>
                </div>
            </button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            request: {
                name: null,
                technical_evaluation_id: null,
            },
            avaliacoes: null,
            loading: false,
        }
    },

    mounted() {
        this.getAvals();

        if(this.id_technicalindex != null) 
        {
            this.request.name = this.name_technicalindex;
            this.request.technical_evaluation_id = this.id_evaluation;
        }
    },

    props: {
        id_technicalindex: {
            type: Number,
            required: true,
        },
        name_technicalindex: {
            type: String,
            required: true,
        },
        id_evaluation: {
            type: Number,
            required: true,
        },
        method_form: {
            type: String,
            default: "post",
        }
    },

    methods: {

        getAvals () 
        {
            const url = '/evaluations/api';

            axios.get(url)
            .then((response) => this.avaliacoes = response.data)
            .catch((error) => console.log(error));

        },
 
        submitForm () {

            let url = null;

            if (this.method_form === "put") 
            {
                url = "/indexes/" + this.id_technicalindex + "/update";

                this.loading = true;

                axios.put(url, this.request)
                .then((response) => {
                    this.loading = false;

                    window.location.reload();
                })
                .catch((e) => {
                    this.loading = false;
                    
                })
            }
            else if (this.method_form === "post") 
            {
                url = "/indexes/store";

                this.loading = true;

                axios.post(url, this.request)
                .then((response) => {
                    this.loading = false;

                    window.location.reload();
                })
                .catch((e) => {
                    this.loading = false;
                    
                })
            }

        }

    },
}
</script>

<style>

</style>