<template>
    <div>
        <form class="form col-md-6 offset-md-3">
            <div class="form-group my-2">
                <label for="" class="form-label">Nome:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Digite o seu nome" 
                v-model="request.name">
            </div>
            <div class="form-group my-2">
                <label for="" class="form-label">Email:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Digite o seu email" 
                v-model="request.email">
            </div>
            <div class="form-group my-2">
                <label for="" class="form-label">Senha:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Digite a sua senha" 
                v-model="request.password">
            </div>
            <div class="form-group my-2">
                <label for="" class="form-label">Confirmar senha:</label>
                <input 
                type="text" 
                class="form-control" 
                placeholder="Confirme a sua senha" 
                v-model="confirmPassword">
            </div>
            <button @click.prevent="submitForm()" id="buttonSubmit" class="btn btn-primary w-full my-2">
                <div id="divContentButtonSubmit" 
                :class="{
                    'spinner-border spinner-border-sm': loading,
                }" 
                role="status">
                    <span id="spanContentDiv" 
                    :class="{
                        'visually-hidden': loading,
                    }">Cadastrar</span>
                </div>
            </button>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                request: {
                    name: null,
                    email: null,
                    password: null,
                },
                confirmPassword: null,
                loading: false,
            }
        },

        methods: {

            loadingButton (e) {

                    

            },

            submitForm () {

                const url = "/user/register";

                this.loading = true;

                axios.post(url, this.request)
                .then((response) => {
                    this.loading = false;
                    
                })
                .catch((e) => {
                    this.loading = false;
                    
                })

            }

        },
    }
</script>

<style>

</style>