<template>
    <div>
        <div class="card border-gray-200 p-8 shadow-md w-3/4 m-auto" style="border-radius: 10px; border-color: rgb(237, 242, 247) !important;">
        <modal-register-evaluation></modal-register-evaluation>
            <div>
                <div class="w-full h-10 d-flex justify-between mb-4">
                    <p class="mb-3 fs-3">Avaliações</p>
                    <button class="btn btn-outline-primary rounded-full hover:shadow w-1/4" data-bs-toggle="modal" data-bs-target="#exampleModal">Adicionar avaliação</button>
                </div>
                <div class="table-header w-full d-flex items-center justify-between">
                    <div class="table-search w-3/4 my-2">
                        <input-search></input-search>
                    </div>
                    <div class="table-filters w-1/4 text-center">
                        <button @click="pageActive = false" role="button" :class="{
                            'btn btn-light px-3 rounded-full hover:shadow-md': true,
                            'active': !pageActive,
                        }">
                            Inativos
                        </button>
                        <button @click="pageActive = true" role="button" :class="{
                            'btn btn-light px-3 rounded-full hover:shadow-md': true, 
                            'active': pageActive,
                        }">
                            Ativos
                        </button>
                    </div>
                </div>
                <div v-if="loadingPage || initializingPage" class="spinner-border d-block mx-auto my-4 text-blue-500" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div v-else class="table-responsive">
                    <div v-if="!dataPage.lengthEvaluations" class="text-center my-4 font-semibold">
                        <h3>Não há registros</h3>
                    </div>
                    <table v-else class="table table-bordered pointer-cursor table-hover table-sm table-sortable mb-0 w-full m-auto">
                        <thead class="thead-light" style="background-color: #eee;">
                            <tr class="align-middle">
                                <th scope="col">Nome da avaliação</th>
                                <th scope="col">Pertence a</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="panel-body">
                            <tr v-for="(evaluation, index) in dataPage.evaluations" :key="index">
                                <td>
                                    <div class="d-flex justify-between items-center first">
                                        <p>{{ evaluation.name }}</p>
                                        <span v-if="pageActive" @click="openEditable($event, evaluation.name, 'name')" class="material-symbols-outlined px-0 py-2 cursor-pointer text-blue-500">
                                            edit
                                        </span>
                                    </div>
                                    <div class="d-flex justify-between items-center d-none second">
                                        <input type="text" v-model="editData.name_evaluation" class="form-control">
                                        <span @click="updateNameColumn(evaluation.id, evaluation.name)" class="material-symbols-outlined px-0 py-2 cursor-pointer text-green-500">
                                            done
                                        </span>
                                        <span @click="closeEditable($event)" class="material-symbols-outlined px-0 py-2 cursor-pointer text-red-500">
                                            close
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-between items-center first">
                                        <p>{{ evaluation.hotel.name }} - {{ evaluation.hotel.acronym }}</p>
                                        <span v-if="pageActive" @click="openEditable($event, evaluation.hotel.id, 'hotel')" class="material-symbols-outlined px-0 py-2 cursor-pointer text-blue-500">
                                            edit
                                        </span>
                                    </div>
                                    <div class="d-flex justify-between items-center d-none second">
                                        <select v-model="editData.hotel_id" id="selectAval" class="form-select">
                                            <option v-for="(item, index) in dataPage.hotels" :key="index" :value="item.id">{{ item.name }} - {{ item.acronym }}</option>
                                        </select>
                                        <span @click="updateHotelColumn(evaluation.id, evaluation.hotel.id)" class="material-symbols-outlined px-0 py-2 cursor-pointer text-green-500">
                                            done
                                        </span>
                                        <span @click="closeEditable($event)" class="material-symbols-outlined px-0 py-2 cursor-pointer text-red-500">
                                            close
                                        </span>
                                    </div>
                                </td>
                                <td class="collapsing text-center">
                                    <a v-if="pageActive" :href="/evaluations/ + evaluation.id" role="button" class="btn btn-outline-secondary rounded-full hover:shadow px-3">Ver Mais</a>
                                    <a @click.prevent="pageActive ? inativeEvaluation(evaluation.id) : activeEvaluation(evaluation.id)" role="button" :class="{
                                        'btn rounded-full hover:shadow px-3': true,
                                        'btn-outline-danger': pageActive,
                                        'btn-outline-success': !pageActive,
                                    }">
                                        {{ pageActive ? 'Desativar' : 'Ativar' }}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { bus } from '../../event-bus';

    import { successResponse } from './../iziToast/Success.js';
    import { errorResponse } from './../iziToast/Error.js';

    export default {
        data() {
            return {
                pageActive: true,
                loadingPage: false,
                initializingPage: false,
                dataPage: {
                    evaluations: null,
                    lengthEvaluations: null,
                    hotels: null,
                },
                editData: {
                    name_evaluation: null,
                    hotel_id: null,
                },
                editable: false,
            }
        },

        created() {
            this.createEvaluation();
            this.search();
        },

        mounted() {
            this.initPage();
        },

        watch: {
            pageActive() {
                this.loadingPage = true;
                this.getEvaluations();
            },
        },

        methods: {

            async initPage() {
                this.initializingPage = true;

                try {
                    await this.getEvaluations();
                    await this.getHotels();

                    this.initializingPage = false;
                } catch (error) {
                    console.log(error);
                }
            },

            async getEvaluations ()
            {
                const url = this.pageActive ? '/evaluations/api' : '/evaluations/inatives/api';

                try {
                    const response = await axios.get(url);
                    this.dataPage.evaluations = response.data;
                    this.dataPage.lengthEvaluations = this.dataPage.evaluations.length;

                    this.loadingPage = false;
                } catch (error) {
                    console.log(error);
                }
            },

            async getHotels () 
            {
                const url = '/hotels/api';

                try {
                    const response = await axios.get(url);
                    this.dataPage.hotels = response.data;
                } catch (error) {
                    console.log(error);
                }
            },

            search() 
            {                                
                bus.$on('search', (searchValue) => {
                    let newList = [];

                    this.dataPage.evaluations
                    .filter((item) => item.name.toLowerCase()
                    .includes(searchValue.toLowerCase()))
                    .forEach((item) => {
                        if (searchValue.trim() == "" || searchValue == null){                    
                            this.getEvaluations();
                        }else {
                            newList.push(item);
                            this.dataPage.evaluations = newList;
                        }
                    });
                })
            },

            closeAllEditables () {
                const firstDivs = document.querySelectorAll('.first');
                const secondDivs = document.querySelectorAll('.second');
                for (let index = 0; index < secondDivs.length; index++) {
                    if (!secondDivs[index].classList.contains('d-none')){
                        secondDivs[index].classList.add('d-none');
                        firstDivs[index].classList.remove('d-none');
                    }
                }
            },

            openEditable(event, value, type) 
            {
                this.closeAllEditables();

                const tdTag = event.path[2];
                const fisrtDiv = tdTag.children[0];
                const secondDiv = tdTag.children[1];
                
                fisrtDiv.classList.add('d-none');
                type === "name" ? this.editData.name_evaluation = value : this.editData.hotel_id = value;

                secondDiv.classList.remove('d-none');
            },

            closeEditable (event) 
            {
                const tdTag = event.path[2];
                const fisrtDiv = tdTag.children[0];
                const secondDiv = tdTag.children[1];
                
                fisrtDiv.classList.remove('d-none');

                secondDiv.classList.add('d-none');
            },

            createEvaluation () 
            {
                const url = "/evaluations/store";

                bus.$on('sendForm', (value) => {
                    axios.post(url, value)
                    .then((response) => {
                        this.getEvaluations();
    
                        value.name = "";
                        value.hotel_id = "";
    
                        successResponse('Sucesso !!', 'Avaliação criada.');
                    })
                    .catch((e) => {
                        errorResponse('Erro !', 'Entre em contato com o suporte.');
                    })
                });


            },

            updateNameColumn (id_evaluation, name_evaluation) 
            {
                if (this.editData.name_evaluation.trim() !== name_evaluation.trim()) {
                    const url = "/evaluations/" + id_evaluation + "/updateName";
                    const request = {
                        name: this.editData.name_evaluation,
                    }

                    axios.patch(url, request)
                    .then((response) => {
                        this.getEvaluations();
                        setTimeout(() => this.closeAllEditables(), 200);

                        successResponse('Sucesso !!', 'Valor atualizado.');
                    })
                    .catch((e) => {
                        errorResponse('Erro !', 'Entre em contato com o suporte.');
                    })
                }else {
                    errorResponse('Erro !', 'O valor não foi alterado.');
                }
            },

            updateHotelColumn (id_evaluation, id_hotel) 
            {
                if (this.editData.hotel_id !== id_hotel) {
                    const url = "/evaluations/" + id_evaluation + "/updateHotel";
                    const request = {
                        hotel_id: this.editData.hotel_id,
                    }

                    axios.patch(url, request)
                    .then((response) => {
                        this.getEvaluations();
                        setTimeout(() => this.closeAllEditables(), 200);

                        successResponse('Sucesso !!', 'Valor atualizado.');
                    })
                    .catch((e) => {
                        errorResponse('Erro !', 'Entre em contato com o suporte.');
                    })
                }else {
                    errorResponse('Erro !', 'O valor não foi alterado.');
                }
            },

            inativeEvaluation (evaluation_id) 
            {
                const url = "/evaluations/" + evaluation_id + "/inative";

                axios.delete(url)
                .then((response) => {
                    this.getEvaluations();

                    successResponse('Sucesso !!', 'Avaliação inativada.');
                })
                .catch((e) => {
                    errorResponse('Erro !', 'Entre em contato com o suporte.');
                })
            },

            activeEvaluation (evaluation_id) 
            {
                const url = "/evaluations/" + evaluation_id + "/active";

                axios.post(url)
                .then((response) => {
                    this.getEvaluations();

                    successResponse('Sucesso !!', 'Avaliação ativa.');
                })
                .catch((e) => {
                    errorResponse('Erro !', 'Entre em contato com o suporte.');
                })
            }
        },
    }
</script>

<style>

</style>