<template>
    <div>
        <input type="text" class="form-control" placeholder="Buscar ..." v-model="searchValue" @keyup="search">
    </div>
</template>

<script>

    import { bus } from '../../event-bus';

    export default {
        data() {
            return {
                searchValue: null,
            }
        },
        
        methods: {
            search() {
                bus.$emit('search', this.searchValue);
            }
        },
    }
</script>

<style></style>