<template>
    <div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar nova avaliação</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="form col-md-12" enctype="multipart/form-data">
                            <div class="form-group my-2 w-full">
                                <label for="" class="form-label">Nome da avaliação:</label>
                                <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Digite o nome da avaliação" 
                                v-model="request.name">
                            </div>
                            <div class="form-group my-2">
                                <label for="" class="form-label">Nome do hotel:</label>
                                <select v-model="request.hotel_id" id="selectAval" class="form-select">
                                    <option v-for="(item, index) in hotels" :key="index" :value="item.id">{{ item.name }} - {{ item.acronym }}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button 
                        type="button" 
                        class="btn btn-outline-danger rounded-full hover:shadow w-1/4" 
                        data-bs-dismiss="modal"
                        active>
                            Cancelar
                        </button>
                        <button @click="registerEvaluation()" id="buttonSubmit" class="btn btn-outline-primary rounded-full hover:shadow w-1/4">
                            <div id="divContentButtonSubmit" 
                            :class="{
                                'spinner-border spinner-border-sm': loading,
                            }" 
                            role="status">
                                <span id="spanContentDiv" 
                                :class="{
                                    'visually-hidden': loading,
                                }">Cadastrar</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</template>

<script>

import { bus } from '../../event-bus';

export default {
    data() {
        return {
            request: {
                name: null,
                hotel_id: null,
            },
            hotels: null,
            loading: false,
        }
    },

    mounted() {
        this.getHotels();
    },

    methods: {
        async getHotels () 
            {
                const url = '/hotels/api';

                try {
                    const response = await axios.get(url);
                    this.hotels = response.data;
                } catch (error) {
                    console.log(error);
                }
        },

        registerEvaluation() 
        {
            bus.$emit('sendForm', this.request);

            console.log('emit');
        },
    },
}

</script>

<style></style>